<nav class="sidebar sidebar-dark border-end">
    <!-- Sidebar Header -->
    <div class="sidebar-header border-bottom">
        <img class="sidebar-brand" src="images/Vik.png" alt="Vik Logo" style="width: 30px; height: 30px;">
    </div>
    
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav">
        <li class="nav-title">Navigation</li>
        <li class="nav-item">
            <a class="nav-link" href="admin-dashboard.php">
                <i class="nav-icon cil-speedometer"></i> Dashboard
            </a>
        </li>
        
        <!-- Member Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="memberDropdown" data-coreui-toggle="dropdown" aria-expanded="false">
                <i class="nav-icon cil-people"></i> Member
            </a>
            <ul class="dropdown-menu" aria-labelledby="memberDropdown">
                <li><a class="dropdown-item" href="admin-member.html#add">Add</a></li>
                <li><a class="dropdown-item" href="admin-member.html#view">View</a></li>
                <li><a class="dropdown-item" href="admin-member.html#delete">Delete</a></li>
                <li><a class="dropdown-item" href="admin-member.html#update">Update</a></li>
            </ul>
        </li>
        
        <!-- Product Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="productDropdown" data-coreui-toggle="dropdown" aria-expanded="false">
                <i class="nav-icon cil-cart"></i> Product
            </a>
            <ul class="dropdown-menu" aria-labelledby="productDropdown">
                <li><a class="dropdown-item" href="admin-product.html#add">Add</a></li>
                <li><a class="dropdown-item" href="admin-product.html#view">View</a></li>
                <li><a class="dropdown-item" href="admin-product.html#delete">Delete</a></li>
                <li><a class="dropdown-item" href="admin-product.html#update">Update</a></li>
            </ul>
        </li>
        
        <!-- Category Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" data-coreui-toggle="dropdown" aria-expanded="false">
                <i class="nav-icon cil-tags"></i> Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                <li><a class="dropdown-item" href="admin-category.html">Add</a></li>
                <li><a class="dropdown-item" href="admin-category.html">View</a></li>
                <li><a class="dropdown-item" href="admin-category.html">Delete</a></li>
                <li><a class="dropdown-item" href="admin-category.html">Update</a></li>
            </ul>
        </li>
        
        <!-- Order Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="orderDropdown" data-coreui-toggle="dropdown" aria-expanded="false">
                <i class="nav-icon cil-notes"></i> Order
            </a>
            <ul class="dropdown-menu" aria-labelledby="orderDropdown">
                <li><a class="dropdown-item" href="admin-order.html">Add</a></li>
                <li><a class="dropdown-item" href="admin-order.html">View</a></li>
                <li><a class="dropdown-item" href="admin-order.html">Delete</a></li>
                <li><a class="dropdown-item" href="admin-order.html">Update</a></li>
            </ul>
        </li>
        
        <!-- Staff Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="staffDropdown" data-coreui-toggle="dropdown" aria-expanded="false">
                <i class="nav-icon cil-user"></i> Staff
            </a>
            <ul class="dropdown-menu" aria-labelledby="staffDropdown">
                <li><a class="dropdown-item" href="admin-staff.html">Add</a></li>
                <li><a class="dropdown-item" href="admin-staff.html">View</a></li>
                <li><a class="dropdown-item" href="admin-staff.html">Delete</a></li>
                <li><a class="dropdown-item" href="admin-staff.html">Update</a></li>
            </ul>
        </li>
        
        <!-- Reports Link -->
        <li class="nav-item">
            <a class="nav-link" href="admin-report.html">
                <i class="nav-icon cil-chart"></i> Reports
            </a>
        </li>
    </ul>
    
    <!-- Sidebar Footer -->
    <div class="sidebar-footer border-top d-flex">
        <button class="sidebar-toggler" type="button"></button>
    </div>
</nav>
