body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #666;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs .nav-link {
    color: #7c2c0c;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #7c2c0c;
    border-color: #7c2c0c;
}

.tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-primary {
    background-color: #7c2c0c;
    border-color: #7c2c0c;
}

.btn-primary:hover {
    background-color: #5b200a;
    border-color: #5b200a;
}
