<!-- footer section start -->
<div class="footer_section">
    <div class="container">
       <div class="footer_location_text">
          <ul>
             <li><img src="images/map-icon.png"><span class="padding_left_10"><a href="#">Our Official Website</a></span></li>
             <li><img src="images/call-icon.png"><span class="padding_left_10"><a href="#">Call : +1112223334</a></span></li>
             <li><img src="images/mail-icon.png"><span class="padding_left_10"><a href="#">demo@gmail.com</a></span></li>
          </ul>
       </div>
       <div class="row">
          <div class="col-lg-3 col-sm-6">
             <h2 class="useful_text">Useful link </h2>
             <div class="footer_menu">
                <ul>
                   <li><a href="index.php">Home</a></li>
                   <li><a href="about.html">About</a></li>
                   <li><a href="design.html">Our Design</a></li>
                   <li><a href="contact.html">Contact Us</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h2 class="useful_text">Repair</h2>
             <p class="lorem_text">If there're any problems regarding the products please head to our repair center</p>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h2 class="useful_text">Social Media</h2>
             <div id="social">
                <a class="facebookBtn smGlobalBtn active" href="#" ></a>
                <a class="twitterBtn smGlobalBtn" href="#" ></a>
                <a class="googleplusBtn smGlobalBtn" href="#" ></a>
                <a class="linkedinBtn smGlobalBtn" href="#" ></a>
             </div>
          </div>
          <div class="col-sm-6 col-lg-3">
             <h1 class="useful_text">Our Repair center</h1>
             <p class="footer_text">Jalan Ayer Keroh Lama, 75450 Bukit Beruang, Melaka </p>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->
 <!-- JavaScript Files -->
 <!-- jQuery -->
 <script src="js/jquery.min.js"></script>
 <!-- Popper.js -->
 <script src="js/popper.min.js"></script>
 <!-- Bootstrap -->
 <script src="js/bootstrap.bundle.min.js"></script>
 <!-- Custom Scripts -->
 <script src="js/jquery-3.0.0.min.js"></script>
 <script src="js/plugin.js"></script>
 <!-- Scrollbar -->
 <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
 <!-- Owl Carousel -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
 <!-- Fancybox -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>